{% extends 'test.html.twig' %}

{% block body %}
    Hello first page...

    {% embed "site/_breadcrumb.html.twig" %}
        {% block crumblist %}
            <li class="breadcrumb-item active" aria-current="page">Draw history</li>
        {% endblock %}
    {% endembed %}

{%  endblock %}